/* .main{
    background-color: black;
} */

.Contact-Main {
    height: 168px;
    width: 458px;
}

.Contact-Main .text-wrapper-1 {
    color: black;
    font-family: "Inter-ExtraBold", Helvetica;
    padding-left: 800px;
    font-size: 28.3px;
    font-weight: 800;
    height: 168px;
    left: 0;
    letter-spacing: 1.4px;
    line-height: 65px;
    position: absolute;
    top: 0;
    width: 458px;
}

.frame {
    height: 800px;
    position: absolute;
    padding: px;
    margin-left: 900px;
    width: 620px;
}

.frame .email-required {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    height: 55px;
    left: 31px;
    letter-spacing: 1.15px;
    line-height: 74.7px;
    position: absolute;
    top: 119px;
    white-space: nowrap;
    width: 163px;
}

.frame .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.15px;
    line-height: 74.7px;
}

.frame .span {
    font-size: 15px;
}

/* .frame .phone-required {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    height: 55px;
    left: 31px;
    letter-spacing: 1.15px;
    line-height: 74.7px;
    position: absolute;
    top: 236px;
    white-space: nowrap;
    width: 163px;
} */

.frame .overlap-group {
    height: 100px;
    left: 30px;
    position: absolute;
    top: 292px;
    width: 560px;
}

.frame .nature-of-event {
    color: black;
    font-family: "Inter-Regular", Helvetica;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    height: 55px;
    left: 0;
    letter-spacing: 1.15px;
    line-height: 74.7px;
    position: absolute;
    top: 45px;
    white-space: nowrap;
    width: 290px;
}

.frame .div {
    border: 1.72px solid;
    border-color: black;
    height: 40px;
    width: 481px;
}

.frame .message-required {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    height: 43px;
    left: 30px;
    letter-spacing: 1.15px;
    line-height: 74.7px;
    position: absolute;
    top: 466px;
    white-space: nowrap;
    width: 213px;
}

.frame .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    padding: 30px;
    font-size: 20px;
    font-weight: 400;
    height: 44px;
    left: 39px;
    letter-spacing: 1.15px;
    line-height: 74.7px;
    position: absolute;
    top: 13px;
    white-space: nowrap;
    width: 165px;
}

.frame .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    padding: 30px;
    font-size: 20px;
    font-weight: 400;
    height: 44px;
    left: 329px;
    letter-spacing: 1.15px;
    line-height: 74.7px;
    position: absolute;
    top: 13px;
    white-space: nowrap;
    width: 165px;
}

.frame .div-2 {
    border: 1.72px solid;
    border-color: black;
    height: 40px;
    width: 227px;
}

.frame .img {
    height: 46px;
    left: 31px;
    position: absolute;
    top: 393px;
    width: 560px;
}

.frame .div-3 {
    border: 1.72px solid;
    border-color: black;
    height: 40px;
    width: 227px;
}

.frame .div-4 {
    border: 1.72px solid;
    border-color: black;
    height: 40px;
    width: 227px;
}

.frame .div-5 {
    border: 1.72px solid;
    border-color: black;
    height: 40px;
    width: 227px;
}

.img {
    border: 2px solid;
    border-color: #000000;
    height: 156px;
    width: 561px;
}

.frame .div-6 {
    border: 2px solid;
    border-color: #000000;
    height: 46px;
    width: 560px;
    padding-right: 20px;
    transform: 500px;
}



.Contact-Main .cally-munchy-img {
    background-image: url("https://images.squarespace-cdn.com/content/v1/64e3926eb597a92d578672bc/31f46a1b-80b8-42df-b6fd-3251ed85f3b1/Cally+Munchy+X+Abei-14.jpg?format=1500w");
    background-size: cover;
    margin: auto;
    padding-top: 400px;
    margin-bottom: 100px;
    padding: 39.5px;
    height: 900px;
    width: 600px;

}