.frame {
    padding: 100px;
    height: 800px;
    position: relative;
    width: 620px;
}

.frame .heading {
    color: #000000;
    top: -200px;
    padding-left: -120px;
    font-family: "Pattaya-Regular", Helvetica;
    font-size: 82px;
    font-weight: 400;
    height: 106px;
    left: -75px;
    letter-spacing: 2.05px;
    line-height: 125px;
    position: relative;
    white-space: nowrap;
    width: 331px;
}

.frame .heading .events{
    color: #000000;
    top: -100px;
    font-family: "Pattaya-Regular", Helvetica;
    font-size: 82px;
    font-weight: 400;
    height: 106px;
    letter-spacing: 2.05px;
    line-height: 125px;
    position: absolute;
    white-space: nowrap;
    width: 331px;
}

.frame .heading .enquiry{
    color: #000000;
    top: -140px;
    font-family: "Pattaya-Regular", Helvetica;
    font-size: 82px;
    font-weight: 400;
    height: 106px;
    letter-spacing: 2.05px;
    line-height: 125px;
    position: absolute;
    padding: 200px;
    white-space: nowrap;
    width: 331px;
}

.frame .email-required {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    height: 55px;
    left: 31px;
    letter-spacing: 1.15px;
    line-height: 74.7px;
    position: absolute;
    top: 119px;
    white-space: nowrap;
    width: 163px;
}

.frame .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.15px;
    line-height: 74.7px;
}

.frame .span {
    font-size: 15px;
}

.frame .phone-required {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    height: 55px;
    left: 31px;
    letter-spacing: 1.15px;
    line-height: 74.7px;
    position: absolute;
    top: 236px;
    white-space: nowrap;
    width: 163px;
}

.frame .overlap-group {
    height: 100px;
    left: 30px;
    position: absolute;
    top: 292px;
    width: 560px;
}

.frame .nature-of-event {
    color: black;
    font-family: "Inter-Regular", Helvetica;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    height: 55px;
    left: 0;
    letter-spacing: 1.15px;
    line-height: 74.7px;
    position: absolute;
    top: 60px;
    white-space: nowrap;
    width: 290px;
}

.frame .div {
    border: 2px solid;
    border-color: black;
    height: 46px;
    left: 0;
    position: absolute;
    top: 0;
    width: 560px;
}

.frame .message-required {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    height: 43px;
    left: 30px;
    letter-spacing: 1.15px;
    line-height: 74.7px;
    position: absolute;
    top: 466px;
    white-space: nowrap;
    width: 213px;
}

.frame .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    padding: 30px;
    font-size: 20px;
    font-weight: 400;
    height: 44px;
    left: 39px;
    letter-spacing: 1.15px;
    line-height: 74.7px;
    position: absolute;
    top: 13px;
    white-space: nowrap;
    width: 165px;
}

.frame .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    padding: 30px;
    font-size: 20px;
    font-weight: 400;
    height: 44px;
    left: 329px;
    letter-spacing: 1.15px;
    line-height: 74.7px;
    position: absolute;
    top: 13px;
    white-space: nowrap;
    width: 165px;
}

.frame .div-2 {
    border: 2px solid;
    border-color: #000000;
    height: 46px;
    left: 31px;
    position: absolute;
    top: 175px;
    width: 560px;
}

.frame .img {
    height: 46px;
    left: 31px;
    position: absolute;
    top: 393px;
    width: 560px;
}

.frame .div-3 {
    border: 2px solid;
    border-color: #000000;
    height: 156px;
    left: 29px;
    position: absolute;
    top: 518px;
    width: 561px;
}

.frame .div-4 {
    border: 2px solid;
    border-color: #000000;
    height: 46px;
    left: 31px;
    position: absolute;
    top: 58px;
    width: 264px;
}

.frame .div-5 {
    border: 2px solid;
    border-color: #000000;
    height: 46px;
    left: 327px;
    position: absolute;
    top: 58px;
    width: 264px;
}

.img {
    border: 2px solid;
    border-color: #000000;
    height: 156px;
    width: 561px;
}

.frame .div-6 {
    border: 2px solid;
    border-color: #000000;
    top: 390px;
    height: 46px;
    left: 31px;
    position: absolute;
    width: 560px;
}

.cally-munchy-img {
    background-image: url("https://images.squarespace-cdn.com/content/v1/64e3926eb597a92d578672bc/1ef93da8-4216-40db-abee-2974144808d7/Cally+Munchy+X+Abei-02.jpg?format=1500w");
    background-size: cover;
    margin-left: 600px;
    top: 30px;
    height: 700px;
    width: 750px;
    margin-bottom: 100px;
}